<!-- Slider -->
<div id="magik-slideshow" class="magik-slideshow">
  <div class="wow">
    <div id='rev_slider_4_wrapper' class='rev_slider_wrapper fullwidthbanner-container' >
      <div id='rev_slider_4' class='rev_slider fullwidthabanner'>
        <ul>
          <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='/images/slider_img_1.html'><img src='/images/slide-img1.jpg' data-bgposition='left top' data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
            <div    class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='15'  data-y='80'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'>Now start at $199!</div>
            <div    class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='15'  data-y='135'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'>Big <span>Sale</span></div>
            <div    class='tp-caption sfb  tp-resizeme ' data-x='15'  data-y='360'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='/product' class="view-more">View More</a> <a href='/product' class="buy-btn">Buy Now</a></div>
          </li>
          <li data-transition='random' data-slotamount='7' data-masterspeed='1000' data-thumb='/images/slider_img_2.jpg' class="black-text"><img src='/images/slide-img2.jpg'  data-bgposition='left top'  data-bgfit='cover' data-bgrepeat='no-repeat' alt="banner"/>
            <div class='tp-caption ExtraLargeTitle sft  tp-resizeme ' data-x='15'  data-y='80'  data-endspeed='500'  data-speed='500' data-start='1100' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:2; white-space:nowrap;'>Looking for</div>
            <div    class='tp-caption LargeTitle sfl  tp-resizeme ' data-x='15'  data-y='135'  data-endspeed='500'  data-speed='500' data-start='1300' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:3; white-space:nowrap;'><span>Your</span> Laptop</div>
            <div    class='tp-caption sfb  tp-resizeme ' data-x='15'  data-y='360'  data-endspeed='500'  data-speed='500' data-start='1500' data-easing='Linear.easeNone' data-splitin='none' data-splitout='none' data-elementdelay='0.1' data-endelementdelay='0.1' style='z-index:4; white-space:nowrap;'><a href='/product' class="view-more">View More</a> <a href='/product' class="buy-btn">Buy Now</a></div>
          </li>
        </ul>
        <div class="tp-bannertimer"></div>
      </div>
    </div>
  </div>
</div>
<!-- end Slider --> 

<!-- header service -->
{{!-- <div class="header-service">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="content">
          <div class="icon-truck">&nbsp;</div>
          <span><strong>FREE SHIPPING</strong> on order over $99</span></div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="content">
          <div class="icon-support">&nbsp;</div>
          <span><strong>Customer Support</strong> Service</span></div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="content">
          <div class="icon-money">&nbsp;</div>
          <span><strong>3 days Money Back</strong> Guarantee</span></div>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12">
        <div class="content">
          <div class="icon-dis">&nbsp;</div>
          <span><strong class="orange">5% discount</strong> on order over $199</span></div>
      </div>
    </div>
  </div>
</div> --}}
<!-- end header service --> 

<!-- offer banner section -->
{{!-- <div class="offer-banner-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-xs-12 col-md-4 col-sm-4 wow"><a href="#"><img alt="offer banner1" src="/images/promo-banner1.jpg"></a></div>
      <div class="col-lg-4 col-xs-12 col-md-4 col-sm-4 wow"><a href="#"><img alt="offer banner1" src="/images/promo-banner2.jpg"></a></div>
      <div class="col-lg-4 col-xs-12 col-md-4 col-sm-4 wow"><a href="#"><img alt="offer banner1" src="/images/promo-banner3.jpg"></a></div>
    </div>
  </div>
</div> --}}
<!-- end offer banner section --> 

<!-- main container -->
<section class="main-container col1-layout home-content-container">
  <div class="container">
    <div class="row">
      <div class="std">
        <!-- best seller -->
        <div class="col-lg-8 col-xs-12 col-sm-8 best-seller-pro wow">
          <div class="slider-items-products">
            <div class="new_title center">
              <h2>Best Seller</h2>
            </div>
            <div id="best-seller-slider" class="product-flexslider hidden-buttons">
              <div class="slider-items slider-width-col4"> 

                {{#each list}}
                  <div class="item">  
                  <div class="col-item">
                    <div class="images-container"> <a class="product-image" title="{{name}}" href="/product/{{_id}}"> <img src="{{images_sources.[0]}}" class="img-responsive" alt="a" /> </a>
                      <div class="actions">
                        <div class="actions-inner">
                          <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>
                          <ul class="add-to-links">
                            <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                            <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="qv-button-container"> <a href="/quickview/{{_id}}" class="qv-e-button btn-quickview-1"><span><span>Quick View</span></span></a> </div>
                    </div>
                    <div class="info">
                      <div class="info-inner">
                        <!--item-title-->
                        <div class="item-title"> <a title="{{name}}" href="/product/{{_id}}"> {{name}} </a> </div>
                        <div class="item-content">
                          <!-- rate -->
                          <div class="ratings">
                            <div class="rating-box">
                              <div style="width:{{#rating reviews}}{{/rating}}%;" class="rating"></div>
                            </div>
                          </div>
                          <!-- price -->
                          <div class="price-box">
                            <p class="special-price"> <span class="price"> ${{price}} </span> </p>
                            <p class="old-price"> <span class="price-sep">-</span> <span class="price"> ${{price}} </span> </p>
                          </div>
                        </div>
                        <!--item-content--> 
                      </div>
                      <!--info-inner-->
                      <div class="clearfix"> </div>
                    </div>
                  </div>
                  </div>
                {{/each}}
                
              </div>
            </div>
          </div>
        </div>
        <!-- latest -->
        <div class="col-lg-4 col-xs-12 col-sm-4 wow latest-pro small-pr-slider">
          <div class="slider-items-products">
            <div class="new_title center">
              <h2>Latest</h2>
            </div>
            <div id="latest-deals-slider" class="product-flexslider hidden-buttons latest-item">
              <div class="slider-items slider-width-col4"> 
                <!-- Item -->

                {{#each list}}
                  <div class="item">  
                  <div class="col-item">
                    <div class="images-container"> <a class="product-image" title="{{name}}" href="/product/{{_id}}"> <img src="{{images_sources.[0]}}" class="img-responsive" alt="a" /> </a>
                      <div class="actions">
                        <div class="actions-inner">
                          <ul class="add-to-links">
                            <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                            <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="qv-button-container"> <a href="/quickview/{{_id}}" class="qv-e-button btn-quickview-1"><span><span>Quick View</span></span></a> </div>
                    </div>
                    <div class="info">
                      <div class="info-inner">
                        <div class="item-title"> <a title="{{name}}" href="/product/{{_id}}"> {{name}} </a> </div>
                        <!--item-title-->
                        <div class="item-content">
                          <div class="ratings">
                            <div class="rating-box">
                              <div style="width:{{rating reviews}}%" class="rating"></div>
                            </div>
                          </div>
                          <div class="price-box">
                            <p class="special-price"> <span class="price"> ${{price}} </span> </p>
                            <p class="old-price"> <span class="price-sep">-</span> <span class="price"> ${{price}} </span> </p>
                          </div>
                        </div>
                        <!--item-content--> 
                      </div>
                      <!--info-inner-->
                      <div class="actions">
                        <button class="button btn-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                      </div>
                      <!--actions-->
                      <div class="clearfix"> </div>
                    </div>
                  </div>
                  </div>
                {{/each}}
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End main container --> 

<!-- recommend slider -->
<section class="recommend container">
  <div class="new-pro-slider small-pr-slider" style="overflow:visible">
    <div class="slider-items-products">
      <div class="new_title center">
        <h2>RECOMMEND</h2>
      </div>
      <div id="recommend-slider" class="product-flexslider hidden-buttons">
        <div class="slider-items slider-width-col3"> 
         
          {{#each list}}
            <div class="item">  
              <div class="col-item">
                <div class="images-container"> <a class="product-image" title="{{name}}" href="/product/{{_id}}"> <img src="{{images_sources.[0]}}" class="img-responsive" alt="a" /> </a>
                  <div class="actions">
                    <div class="actions-inner">
                      <ul class="add-to-links">
                        <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                        <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="qv-button-container"> <a href="/quickview/{{_id}}" class="qv-e-button btn-quickview-1"><span><span>Quick View</span></span></a> </div>
                </div>
                <div class="info">
                  <div class="info-inner">
                    <div class="item-title"> <a title="{{name}}" href="/product/{{_id}}"> {{name}} </a> </div>
                    <!--item-title-->
                    <div class="item-content">
                      <div class="ratings">
                        <div class="rating-box">
                          <div style="width:{{rating reviews}}%" class="rating"></div>
                        </div>
                      </div>
                      <div class="price-box">
                        <p class="special-price"> <span class="price"> ${{price}} </span> </p>
                        <p class="old-price"> <span class="price-sep">-</span> <span class="price"> ${{price}} </span> </p>
                      </div>
                    </div>
                    <!--item-content--> 
                  </div>
                  <!--info-inner-->
                  <div class="actions">
                    <button class="button btn-cart" title="Add to Cart" type="button"><span>Add to Cart</span></button>
                  </div>
                  <!--actions-->
                  <div class="clearfix"> </div>
                </div>
              </div>
            </div>
          {{/each}}
    
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Recommend slider --> 

<!-- Featured Slider -->
<section class="featured-pro wow">
  <div class="container">
    <div class="std">
      <div class="slider-items-products">
        <div class="featured_title center">
          <h2>Featured Products</h2>
        </div>
        <div id="featured-slider" class="product-flexslider hidden-buttons">
          <div class="slider-items slider-width-col4"> 
            
            {{#each list}}
              <div class="item">  
              <div class="col-item">
                <div class="images-container"> <a class="product-image" title="{{name}}" href="/product/{{_id}}"> <img src="{{images_sources.[0]}}" class="img-responsive" alt="a" /> </a>
                  <div class="actions">
                    <div class="actions-inner">
                      <button type="button" title="Add to Cart" class="button btn-cart"><span>Add to Cart</span></button>
                      <ul class="add-to-links">
                        <li><a href="wishlist.html" title="Add to Wishlist" class="link-wishlist"><span>Add to Wishlist</span></a></li>
                        <li><a href="compare.html" title="Add to Compare" class="link-compare "><span>Add to Compare</span></a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="qv-button-container"> <a href="/quickview/{{_id}}" class="qv-e-button btn-quickview-1"><span><span>Quick View</span></span></a> </div>
                </div>
                <div class="info">
                  <div class="info-inner">
                    <div class="item-title"> <a title="{{name}}" href="/product/{{_id}}"> {{name}} </a> </div>
                    <!--item-title-->
                    <div class="item-content">
                      <div class="ratings">
                        <div class="rating-box">
                          <div style="width:{{rating reviews}}%" class="rating"></div>
                        </div>
                      </div>
                      <div class="price-box">
                        <p class="special-price"> <span class="price"> ${{price}} </span> </p>
                        <p class="old-price"> <span class="price-sep">-</span> <span class="price"> ${{price}} </span> </p>
                      </div>
                    </div>
                    <!--item-content--> 
                  </div>
                  <!--info-inner-->
                  <div class="clearfix"> </div>
                </div>
              </div>
              </div>
            {{/each}}

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Featured Slider --> 