  
  <!-- Two columns content -->
  <section class="main-container col2-left-layout">
    <div class="main container">
      <div class="row">
        <section class="col-main col-sm-9 col-sm-push-3 wow">
        
          <!-- category banner -->
          <div class="category-description std">
            <div class="slider-items-products">
              <div id="category-desc-slider" class="product-flexslider hidden-buttons">
                <div class="slider-items slider-width-col1"> 
                  
                  <!-- Item -->
                  <div class="item"> <a href="#"><img alt="category-banner" src="/images/category-banner-img.jpg"></a>
                    <div class="cat-img-title cat-bg cat-box">
                      <h2 class="cat-heading">New Fashion 2015</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus diam arcu.</p>
                    </div>
                  </div>
                  <!-- End Item --> 
                  
                  <!-- Item -->
                  <div class="item"> <a href="#"><img alt="category-banner" src="/images/category-banner-img1.jpg"></a> </div>
                  <!-- End Item --> 
                  
                </div>
              </div>
            </div>
          </div>
          <!-- category banner -->
          <div class="category-products">
            <div class="toolbar">
              
              <div class="sorter">
                 <div class="pages">
                  <label>Trang:</label>
                  <ul class="pagination">
                    {{#if filter}}
                      <li></li>
                      {{#if prePage}}
                      <li><a href="{{url}}filter={{filter}}&page={{prePage}}&numProduct={{numProduct}}&sort={{sortby}}">&laquo;</a></li>
                      {{/if}}

                      {{#if beforePrePage}}
                      <li><a href="{{url}}filter={{filter}}&page={{beforePrePage}}&numProduct={{numProduct}}&sort={{sortby}}">{{beforePrePage}}</a> </li>
                      {{/if}}

                      {{#if prePage}}
                      <li><a href="{{url}}filter={{filter}}&page={{prePage}}&numProduct={{numProduct}}&sort={{sortby}}">{{prePage}}</a> </li>
                      {{/if}}

                      <li class="active"><a href="{{url}}filter={{filter}}&page={{currentPage}}&numProduct={{numProduct}}&sort={{sortby}}">{{currentPage}}</a></li>

                      {{#if nextPage}}
                      <li><a href="{{url}}filter={{filter}}&page={{nextPage}}&numProduct={{numProduct}}&sort={{sortby}}">{{nextPage}}</a> </li>
                      {{/if}}

                      {{#if afterNextPage}}
                      <li><a href="{{url}}filter={{filter}}&page={{afterNextPage}}&numProduct={{numProduct}}&sort={{sortby}}">{{afterNextPage}}</a> </li>
                      {{/if}}

                      {{#if nextPage}}
                      <li><a href="{{url}}filter={{filter}}&page={{nextPage}}&numProduct={{numProduct}}&sort={{sortby}}">&raquo;</a></li>
                      {{/if}}
                    {{else}}
                      <li></li>
                      {{#if prePage}}
                      <li><a href="{{url}}page={{prePage}}&numProduct={{numProduct}}&sort={{sortby}}">&laquo;</a></li>
                      {{/if}}

                      {{#if beforePrePage}}
                      <li><a href="{{url}}page={{beforePrePage}}&numProduct={{numProduct}}&sort={{sortby}}">{{beforePrePage}}</a> </li>
                      {{/if}}

                      {{#if prePage}}
                      <li><a href="{{url}}page={{prePage}}&numProduct={{numProduct}}&sort={{sortby}}">{{prePage}}</a> </li>
                      {{/if}}

                      <li class="active"><a href="{{url}}page={{currentPage}}&numProduct={{numProduct}}&sort={{sortby}}">{{currentPage}}</a></li>

                      {{#if nextPage}}
                      <li><a href="{{url}}page={{nextPage}}&numProduct={{numProduct}}&sort={{sortby}}">{{nextPage}}</a> </li>
                      {{/if}}

                      {{#if afterNextPage}}
                      <li><a href="{{url}}page={{afterNextPage}}&numProduct={{numProduct}}&sort={{sortby}}">{{afterNextPage}}</a> </li>
                      {{/if}}

                      {{#if nextPage}}
                      <li><a href="{{url}}page={{nextPage}}&numProduct={{numProduct}}&sort={{sortby}}">&raquo;</a></li>
                      {{/if}}
                    {{/if}}
                  </ul>
                </div>
              </div>
              
              
              <div id="sort-by">
                <label class="left">Sắp xếp theo: </label>
                <ul>
                  {{#if filter}}
                    <li><a href="{{url}}filter={{filter}}&page={{currentPage}}&numProduct={{numProduct}}&sort={{sortby}}"><span class="right-arrow">{{sortby}}</span></a>
                      <ul>
                        <li><a href="{{url}}filter={{filter}}&page={{currentPage}}&numProduct={{numProduct}}&sort=Tên">Tên</a></li>
                        <li><a href="{{url}}filter={{filter}}&page={{currentPage}}&numProduct={{numProduct}}&sort=Giá">Giá</a></li>
                        <li><a href="{{url}}filter={{filter}}&page={{currentPage}}&numProduct={{numProduct}}&sort=Vị trí">Vị trí</a></li>
                      </ul>
                    </li>
                  {{else}}
                    <li><a href="{{url}}page={{currentPage}}&numProduct={{numProduct}}&sort={{sortby}}"><span class="right-arrow">{{sortby}}</span></a>
                      <ul>
                        <li><a href="{{url}}page={{currentPage}}&numProduct={{numProduct}}&sort=Tên">Tên</a></li>
                        <li><a href="{{url}}page={{currentPage}}&numProduct={{numProduct}}&sort=Giá">Giá</a></li>
                        <li><a href="{{url}}page={{currentPage}}&numProduct={{numProduct}}&sort=Vị trí">Vị trí</a></li>
                      </ul>
                    </li>
                  {{/if}}
                </ul>

                <a class="button-asc left" href="#" title="Set Descending Direction"><span style="color:#999;font-size:11px;" class="glyphicon glyphicon-arrow-up"></span></a>
              </div>
              
              <div class="pager">
                <div id="limiter">
                  <label>Số sản phẩm trên trang: </label>
                  <ul>
                    {{#if filter}}
                      <li><a href="{{url}}filter={{filter}}&numProduct={{numProduct}}">{{numProduct}}<span class="right-arrow"></span></a>
                        <ul>
                          <li><a href="{{url}}filter={{filter}}&numProduct=9&sort={{sortby}}">9</a></li>
                          <li><a href="{{url}}filter={{filter}}&numProduct=12&sort={{sortby}}">12</a></li>
                          <li><a href="{{url}}filter={{filter}}&numProduct=15&sort={{sortby}}">15</a></li>
                        </ul>
                      </li>
                    {{else}}
                      <li><a href="{{url}}filter={{filter}}&numProduct={{numProduct}}">{{numProduct}}<span class="right-arrow"></span></a>
                        <ul>
                          <li><a href="{{url}}numProduct=9&sort={{sortby}}">9</a></li>
                          <li><a href="{{url}}numProduct=12&sort={{sortby}}">12</a></li>
                          <li><a href="{{url}}numProduct=15&sort={{sortby}}">15</a></li>
                        </ul>
                      </li>
                    {{/if}}
                  </ul>
                </div>
              </div>
            </div>
            <ul class="products-grid">
            {{#each list}}
              <li class="item col-lg-4 col-md-4 col-sm-6 col-xs-6">
                <div class="col-item">
                  {{#if discount}}
                  <div class="sale-label sale-top-right">Sale</div>
                  {{else}} {{#if (isNewProduct _id)}}
                  <div class="new-label new-top-right">New</div>
                  {{/if}} {{/if}}
                  <div class="images-container"> <a class="product-image" title="{{name}}" href="/product/detail/{{_id}}"> <img src="{{images_sources.[0].url}}" class="img-responsive" alt="a" /> </a>
                    <div class="actions">
                      <div class="actions-inner">
                        <button onclick="window.location.href='/cart/addproduct/{{_id}}'" type="button" title="Thêm vào giỏ hàng" class="button btn-cart"><span>Thêm vào giỏ</span></button>
                        
                      </div>
                    </div>
                    <div class="qv-button-container"> <a class="qv-e-button btn-quickview-1" href="/product/detail/{{_id}}"><span><span>Xem chi tiết</span></span></a> </div>
                  </div>
                  <div class="info">
                    <div class="info-inner">
                      <div class="item-title"> <a title=" {{name}}" href="/product/detail/{{_id}}"> {{name}} </a> </div>
                      <!--item-title-->
                      <div class="item-content">
                        <div class="ratings">
                          <div class="rating-box">
                            <div style="width:{{rating}}%" class="rating"></div>
                          </div>
                        </div>
                        <div class="price-box">
                          {{#if discount}}
                          <p class="special-price"> <span class="price"> {{discountPrice price discount}}đ </span> </p>
                          <p class="old-price"> <span class="price-sep">-</span> <span class="price"> {{price}}đ </span> </p>
                          {{else}}
                          <span class="regular-price"> <span class="price">{{price}}đ</span> </span>
                          {{/if}}
                         
                        </div>
                      </div>
                      <!--item-content--> 
                    </div>
                    <!--info-inner--> 
                    
                    <!--actions-->
                    
                    <div class="clearfix"> </div>
                  </div>
                </div>
              </li>
              {{/each}}
            </ul>
          </div>
        </section>
        <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow">
          <div class="side-nav-categories">
            <div class="block-title"> PHÂN LOẠI </div>
            <!--block-title--> 
            <!-- BEGIN BOX-CATEGORY -->
            <div class="box-content box-category">
              <ul>
                {{#each listCategory_brand}}
                <li> <a class="active" href="/product/{{category.name}}">{{category.name}}</a> <span class="subDropdown minus"></span>
                  <ul class="level0_415" style="display:block">
                    {{#each brand}}
                    <li> <a href="/product/{{cate_brand}}"> {{name}} </a></li>
                    {{/each}}
                  </ul>
                  <!--level0--> 
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
          {{#if advancedSearch}}
          {{else}}
          <div class="block block-layered-nav">
            <div class="block-title"><span>BỘ LỌC</span></div>
            <div class="block-content">
              <p class="block-subtitle">Tiêu chí lọc</p>
              <dl id="narrow-by-list">
                <dt class="odd">Giá cả</dt>
                <dd class="odd">
                  <ol>
                    <li> <a href="{{url}}filter=1"><span class="price">0</span> - <span class="price">5.000.000 đ</span></a></li>
                    <li> <a href="{{url}}filter=2"><span class="price">5.000.000 đ</span> trở lên</a></li>
                  </ol>
                </dd>
                <dt class="even">Khuyến mãi</dt>
                <dd class="even">
                  <ol>
                    <li> <a href="{{url}}filter=3">0 - 10 %</a></li>
                    <li> <a href="{{url}}filter=4">10 - 20 %</a></li>
                    <li> <a href="{{url}}filter=5">Trên 20%</a></li>
                  </ol>
                </dd>
               
              </dl>
            </div>
          </div>
          {{/if}}
          
        </aside>
      </div>
    </div>
  </section>
  <!-- End Two columns content -->
  