<section class="main-container col1-layout">
  <div class="main container">
    <div class="account-login">
      <div class="page-title">
        <h2>Cập nhật thông tin</h2>
      </div>
      <fieldset class="col2-set">
        {{#if user.googleId}}
        <form class="form-list" action="/user/info/updateinfo/google" method="POST" enctype="multipart/form-data">
        {{else}}
        <form class="form-list" action="/user/info/updateinfo" method="POST" enctype="multipart/form-data">
        {{/if}}
            <div class="col-1 new-users">
                <img src="{{user.avatar.url}}" alt = "avatar"  style="width: 200px; height: 200px"/>
                <br>
                <label for="image">Chọn ảnh và click nút "Cập nhật" để cập nhật ảnh đại diện:</label>
                <br>
                <input type="file" name="image" id="image" accept="image/*" value=""/>
                <br>
                {{#if user.googleId}}
                <div class="buttons-set">
                  <input id="send2" name="send" type="submit" class="button login" value="Cập nhật">
                </div>
                {{/if}}
            </div>
            {{#if user.googleId}}
            {{else}}
            <div class="col-2 registered-users">
                <div class="content">
                    <label for="fullname">Họ và tên</label>
                    <br>
                    <input type="text" title="Full Name" class="input-text required-entry" id="fullname" value="{{user.fullname}}" name="fullname" >
                    <br>

                    <label for="username">Tên đăng nhập</label>
                    <br>
                    <input type="text" title="Username" class="input-text required-entry" id="username" value="{{user.username}}" name="username">
                    <br>

                    <div class="buttons-set">
                        <input id="send2" name="send" type="submit" class="button login" value="Cập nhật">
                    </div>
              </div>
            </div>
            {{/if}}
        </form>
      </fieldset>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</section>